phpinfo.php
/doc
/js/app-old-backbone.js
/js/vendor/backbone.js
/js/jquery.blast.min.js
/js/underscore.js
/php/justgiving/Tests
/php/justgiving/curltest.php
/php/justgiving/phpinfo.php
/php/justgiving/sdi-example.php
/php/auth.php
*.DS_Store

